/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-sm {
    max-width: 36em !important;
}

.u-max-width-md {

    max-width: 45em;
}

.u-max-width-lg {
    max-width: 60em;

}

.u-max-width-xl {
    max-width: 75em;

}

.u-max-width-none {
    none
}
